In [ ]:
a=5
print(a)

In [ ]:
print(type(a))

In [ ]:
a=5.5
print(type(a))

In [ ]:
a="44"
print(type(a))

In [ ]:
a=[5,6,10]
print(type(a))

In [ ]:
a=(4,9)
print(type(a))

In [ ]:
a=range(0,10)
print(type(a))

In [ ]:
a,b,c,d=[1,2,3]

In [ ]:
a,b,c=[1,5,6,7]

In [ ]:
a=2
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

In [ ]:
a,b,c=input("enter three number: ").split()
d=a+b+c
print(d)

In [ ]:
a=str(input())
b=str(input())
c=a+b
print(c)

In [ ]:
a,b,c,d=input("enter the numbers: ").split()
e=str(a+b+c+d)
print(e)

In [ ]:
name=input("enter the name :")
price=int(input("enter the price: "))
if price==5:
          print(name)
          print("you can buy a dairy milk chocalate")
else:
          print(name)
          print("you can't buy it")

In [ ]:
a=input()
b=input()
if a>b:
    print("a is greater ")
else:
    print("b is greater ")

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if a>b:
    if a>c:
       print("a is greater")
    else:
       print("c is grater")
else:
    if b>c:
        print("b is greater")
    else:
        print("c is greater")

In [ ]:
marks=int(input("enter your marks: "))
if marks>=90 and marks<100:
    print("Grade=A+")
else:
    if marks>=80 and marks<90:
        print("Grade=A")
    else:
        if marks>=70 and marks<80:
            print("Grade=B+")
        else:
            if marks>=60 and marks<70:
                print("Grade=B")
            else:
                if marks>=50 and marks<60:
                    print("Grade=c")
                else:
                    if marks>=40 and marks<50:
                        print("Grade=D")
                    else:
                        if marks>=30 and marks<40:
                            print("Grade=E")
                        else:
                            if marks>=0 and marks<30:
                                print("Grade=F")
                            else:
                                print("invalid marks")

In [ ]:
human=int(input("enter the stage of the human"))
match human:
case 1:if human>=0 and human<=1:
       print("infant stage")
case 2:if human>=1 and human<=

In [ ]:
for x in range(0,10):
    print(x)

In [ ]:
x=0
while x<10:
    x=x+1
    print(x)

In [ ]:
def full_pyramid(n):
    for i in range(1,n+1):
        for j in range(n-i):
            print(" ",end=" ")
        for k in range(1,2*i):
            print("*",end=" ")

In [ ]:
for y in range(0,10):
    for x in range(0,y+1):
        print("*",end="")
    print()

In [ ]:
a=0
b=1
n=int(input("enter the length of series:"))
print(a,b,end=" ")

for x in range(0,n-2):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

In [ ]:
x=[1,2,3,5.5,6,7]
for a in range(0,6):
    print(x[a])

In [ ]:
y=[3,7,'*',6,7]
print(y)
print(type(y[2]))

In [ ]:
a=[1,2,3,4,5]
b=a.copy()
print(b)
c=b.pop(3)
print(c)
print(b)
b.append(10)
print(b)
print(b.index(3))
b.count(3)
b.count(4)
b.insert(2,9)
print(b)
b.remove(3)
print(b)
b.sort()
print(b)
b.sort(reverse=True)
print(b)
print(len(b))
print(len(a))

In [ ]:
a=[1,2,3,4,5]
for x in a:
    print(x)

In [ ]:
L=[ int(item) for item in (input("Enter the elements of the list: ").split())]
print(L)

In [ ]:
a=(1,2,3,4,5.5,'saranya')
print(a)
b=list(a)
print(b)
b[5]='shiv'
a=tuple(b)
print(a)

In [ ]:
a=[1,2,4,5,6]
for x in range(-1,-1*(len(a)+1),-1):
    print(a[x])

In [ ]:
a=(1,2,3,4,5,6,7,8,9)
for x in range(0,len(a)):
    print(a[-1*(x+1)])

In [ ]:
D={1:"saranya",2:"saranga",3:"matada"}
print(D)
print(D[2])
print(D.keys())
print(D.values())
print(D.items())
print(D.get(4))

In [ ]:
#write a program to take key and value input from the user and add to it dictionary if key is not present otherwise print key already exists and also find its corresponding value


key=input("enter the key value")
value=str(input("enter the values"))
if key==len(value):
    print(key[value])
else:
    print("key does not exist")

In [ ]:
a=int(input())

In [ ]:
A=int(input())
B=int(input())
try:
    c=A/B
except:
    print("we can't divide")
else:
    print("division successfull")
    print(c)
finally:
    print("error handled")

In [ ]:
a=[1,2,3,4]
i=int(input("enter the index: "))
try:
    print(a[i])
except:
     print("indexnotfound")
    
else:
    print("index found")
    print(a[i])
finally:
   print("error handled")

In [ ]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
    x="hello"/3
except ValueError:
    print("value unable to convert")
except ZeroDivisionError:
    print("can't divide by zero")
except:
    print("some unknown error found")
else:
    print("no error")
finally:
    print("code excecution done")

In [ ]:
#palindrome
a=input()
for i in range(0,int(len(a)/2)):
    if a[i]!=a[(i+1)*-1]:
        flag=1
        break
if flag:
    print("not palindrome")
else:
    print("palindrome")

In [ ]:
n=int(input())
flag=0
for x in range(2,int(n/2+1)):
    if n%x==0:
        flag=1
        break
if flag:
    print("not prime")
else:
    print(" prime")

In [ ]:
#file handling
#create
#read
#update
#delete
#CRUD Operation

if __name__=='__main__':
    filename="example.txt"
    new_filename="new_example.txt"

    def create_file():
        create_file(filename)
        read_file(filename)
        append_file(filename,"This is some additional text.\n")
        read_file(filename)
        rename_file(filename,new_filename)
        read_file(new_filename)

In [ ]:
import os

with open("file1.txt",'w')as f:
    f.write("this is first text in the file")
    f.close()

In [ ]:
import os

with open("file1.txt",'r') as f:
    for a in f.read().split():
        print(a)
        print("111")
        f.close()

In [ ]:
import os

with open("file1.txt",'r') as f:
    for a in f.read().split("\n"):
        print(a)
        print("100")
        f.close()

In [ ]:
import os

with open("file1.txt",'a') as f:
    f.write("this is the second text in file")
    print("\n")
    f.close()

In [23]:
import os

with open("file1.txt",'r') as f:
    a=f.read()
    print(a)
    f.close()
os.rename("file1.txt","file2.txt")

this is first text in the file
this is the second text in file

In [26]:
import os

with open("fruit.txt",'w') as f:
    f.write(input("enter the fruit name"))
    f.close

enter the fruit name 1.mango 2.banana 3.apple

In [28]:
import os
file_path=input("enter the file path")
old_input=input("enter the old input")
new_input=input("enter the new input")

with open("fruit.txt",'r') as f:
    b=f.read()
modified_b=b.replace(old_input,new_input)
with open(file_path,'w') as f:
    f.write(modified_b)

enter the file path fruit.txt
enter the old input 3.apple
enter the new input 3.watermelon